*.iml
*.ipr
*.iws
.idea
.svn
.classpath
.project
.settings
target
hadoop-hdfs-project/hadoop-hdfs/downloads
hadoop-hdfs-project/hadoop-hdfs-httpfs/downloads
hadoop-common-project/hadoop-common/build
hadoop-common-project/hadoop-common/src/main/conf
hadoop-hdfs-project/hadoop-hdfs/src/main/conf
hadoop-yarn-project/hadoop-yarn/conf
